body {
  /* background: silver;
   */
  background-repeat: no-repeat;
  background-size: auto;
  background-image: url("https://wallpapercave.com/wp/aZSazBV.jpg");
}

.navbar {
}
.navbar-header {
  margin: auto;
  font-size: 2.7em;
  color: white !important;
}

.btn {
  width: 2em;
  height: 1.8em;
  position: absolute;
}

#city-date {
  position: relative;
  bottom: 55px;
  height: 10vh;
}
.weather-text {
  position: relative;
  bottom: 45px;
}
.input {
  margin-top: 2rem;
  width: 14rem;
}
#search-prompt {
  position: absolute;
  /* top: 1.5em; */
}
.jumbotron {
  width: 65vw;
  height: 40vh;
  float: right;
  /* TODO: change color */
  margin-top: 1%;
  background: #56d1d8;
  border: 2px solid black;
}
@media only screen and (max-width: 1377px) {
  .jumbotron {
    width: 65vw;
    height: 40vh;
    float: right;
    /* TODO: change color */
    margin-top: 1%;
    background: #56d1d8;
    border: 2px solid black;
    /* font-size: 1em; */
  }
}

.list-group-item {
  background: #56d1d8;
  z-index: 0;
}
.list-group-item:hover {
  color: red;
  box-shadow: 3px 3px 3px 3px black;
}

.history {
  width: 20vw;
  position: fixed;
}

.day {
  background: #56d1d8;
  border: 1px solid black;
  width: 215px;
  height: 200px;
  margin-left: 1%;
  margin-right: 1%;
}
@media only screen and (max-width: 1377px) {
  .day {
    background: #56d1d8;
    border: 1px solid black;
    width: 140px;
    height: 135px;
    font-size: 0.5em;
    /* margin-left: 1%;
    margin-right: 1%; */
  }
}
@media only screen and (max-width: 998px) {
  .day {
    background: #56d1d8;
    border: 1px solid black;
    width: 90px;
    height: 135px;
    /* margin-left: 1%;
    margin-right: 1%; */
  }
}
@media only screen and (max-width: 660px) {
  .day {
    background: #56d1d8;
    border: 1px solid black;
    width: 70px;
    height: 135px;
    float: right;
    font-size: 0.5em;
    z-index: 1;
    /* margin-left: 1%;
    margin-right: 1%; */
  }
}
.day-cards {
  padding-left: 0px;
  margin-right: auto;
  margin-top: 3%;
  display: flex;
  float: right;
  padding-right: 1%;
}

#currentIcon {
  height: 12%;
  width: 12%;
  position: absolute;
  background: #56d1d8;
}
h3 {
  position: relative;
  bottom: 3em;
  left: 8em;
}

.icons {
  height: 30%;
  width: 30%;
  display: none;
}

.uv-color {
  max-width: 8vw;
}

.footer {
  /* background-color: silver !important; */
  position: fixed;
  bottom: 0px;
  width: 100%;
  text-align: center;
  justify-content: center;
}
#icon {
  position: relative;
  right: 0.5em;
  bottom: 0.2em;
}
